<% provide(:title, "About") %>
<div class= 'container'>

<div class='center'>
  <p class="about-h">The Adventure Movement</p>
</div>
    <p class="about-p">
      Hometown Adventure is a movement to <strong> PROMOTE, CONNECT, AND SHARE </strong> anything and everything related to adventure. If you LOVE Adventure then You are going to LOVE what we are working on.  So while we get up and running catch up on some good reading by heading over to our <%= link_to "Blog", blog_path %>, or get out there and Explore.
    </p>
</div>
