<% provide(:title, "About") %>
    <h1>Hometown Adventure </h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla unde aliquid est voluptas quo adipisci magni distinctio animi pariatur nam, nisi inventore, eius saepe, nobis odit eveniet fuga cupiditate!</p>