<% provide(:title, "Blog") %>
<div class= 'container'>
  <div class='center'>
    <p class="blog-h">Blog</p>
  </div>
  <p class="blog-p">
    Cant get outside and enjoy an adventure your self?
    Well come here and get your mind going before, between, or anytime you need your adventure fix.
    We hope to provide some great content to get your heart pumping and your mind racing.
    Enjoy and as always if you have comments, suggestions, or thoughths feel free to reach out to us.
  </p>
</div>