<% provide(:title, "Help") %>
   <h1>Contact Us</h1>

   <h3>
     While things are under construction feel free to reach out with any thoughts, questions, or concerns. Or share with us your adventure stories.
   </h3>

   <h3>
     <%= mail_to "tommy@hometownadventure" %>
  </h3>
  <h3>
    <%= mail_to "jim@hometownadventure" %>
  </h3>