<% provide(:title, "Help") %>
    <h1>Help</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quis voluptates quidem nisi repellat, aspernatur possimus dolorem nam at atque nobis, ipsum consectetur vel illum ratione tempore pariatur veniam unde!</p>