<div class="launch-container">
</div>

<div class="jumbotron center">
  <h1> ARE YOU READY?</h1>
    <h3> Find out the new way to enjoy adventure</h3>
  <p>
    <%= link_to "Explore", about_path , class: "btn btn-default btn-lg" %>
  </p>
