@import "bootstrap-sprockets";
@import "bootstrap";

html body{
  background: image-url("backgroundht.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top-marg{
  margin-top: 100px;
}
//splashpage//
.logo{
  text-align: center;
  margin-top: 130px;
}

.intro-header{
  text-align: center;
  font-size: 30pt;
  font-weight: 300;
  margin-top: 20px;
}

.intro-q{
  text-align: center;
  font-size: 16pt;
  font-weight: 200;
  margin-top: 30px;
}

.icons{
  margin-top: 100px;
  text-align: center;
  }

.icon-p{
  padding: 20px;
  font-size:12pt;
}

.fancy {
  text-align: center;
  margin-top: 30px;
}
.fancy span{
  display: inline-block;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 0px;
  border-bottom: 3px solid #F47321;
  top: 5px;
  width: 90px;
}

.fancy span:before {
  right: 100%;
  margin-top: 18px;
  margin-right: 10px;
}

.fancy span:after {
  left: 100%;
  margin-top: 18px;
  margin-left: 10px;
}

.line{
  width: 100%;
  display:inline-block;
  border:none;
  height:2px;
  background: #F47321;
  margin-top: 10px;
}

.map{
  margin-right: -20px;
  margin-top: -10px;
}
.location{
  margin-top: 40px;
  text-align: center;
  font-size: 36pt;
  font-weight: 400;
}

.state{
  height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.book-info{
  margin-top: 40px;
  text-align: center;
  font-size: 20pt;
}

.lineb{
  width: 100%;
  display:inline-block;
  border:none;
  height:2px;
  background: #F47321;
  margin-top: 25px;
}

.help{
  margin-top: 40px;
  text-align: center;
  font-size: 22pt;
}

.mail{
  margin-top: 20px;
  text-align: center;
}

.fa-envelope{
  color: black;
}

.subscribe{
  margin-top: 60px;
  text-align: center;
  font-size: 30pt;
  font-weight: 400;
}

.mailer{
  margin-top: 20px;
  text-align: center;
  font-size: 16pt;
}


.sub-input{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


.email-sign{
  height: 50px;
  width: 350px;
  font-size: 20pt;
}


.sub-f{
  margin-top: 10px;
  text-align:center;
  font-size: 8pt;
}

.sub-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
  background-color: #F47321;
  border: none;
}

.social{
  background-color: #222222;
  text-align: right;
  width: 100%;

  bottom: 0px;
}

.s-icon{
  color: #FFFFFF;
  padding: 10px;
}

//about//

.center{
  text-align: center;
}

.about-h{
  margin-top: 80px;
  font-size: 30pt;
}

.about-p{
  margin-top: 30px;
  font-size: 22pt;
}

//blog//

.blog-h{
  margin-top: 80px;
  font-size: 30pt;
}

.blog-p{
  margin-top: 30px;
  font-size: 22pt;
}

//help//

.help-h{
  margin-top: 80px;
  font-size: 30pt;
}

.help-p{
  margin-top: 30px;
  font-size: 22pt;
}

.help-m{
  font-size: 26pt;
}