<div class = "navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-footer">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to(image_tag("facebook.png", :alt => "Promo
        Image"), "https://www.facebook.com/135319613304223")%></li>
         <li><%= link_to(image_tag("twitter.png", :alt => "Promo
        Image"), "https://twitter.com/htADVENTURE")%></li>
         <li><%= link_to(image_tag("google+.png", :alt => "Promo
        Image"), "http://www.example.com")%></li>
      </ul>
      </div>
    </div>
  </div>
</div>